



html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
img, ins, kbd, q, s, samp,
small, strike, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
body {
line-height: 1;
min-height: 1300px;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}







html{
background: #F4F4F6;

}
body{
width: 100%;

background-image: url(img/image.png);
background-position: center center;
background-repeat: no-repeat; 
background-size: cover;

}

.rectangle1{
	width: 100%;
	position: fixed;
	height: 70px;
	left: 0px;
	top: 0px;
	z-index: 3;
}

.rectangle1:before{
	content:'';
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	z-index: 2;
}


.circle2{
position: absolute;
margin:15px 10%;
/* left: 140px;
top: 15px; */
z-index: 3;

}

.left2{
position: absolute;
left: 9.41px;
top: 15.29px;



}

.right2{

position: absolute;
left: 21.47px;
top: 15.29px;
}

.toxin{
position: absolute;
width: 53.19px;
height: 12.95px;
margin:28px 14%;
/* left: 192.5px;
top: 28.33px; */
z-index: 3;
}

.menu{
position: absolute;
left: 530px;
top: 26px;
z-index: 2;

}
.menu li{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-decoration: none;
display: inline; /*чтобы выстроить список по горизонтали*/
margin-right: 20px;
color: rgba(31, 32, 65, 0.5);
}

.menu a{
	text-decoration: none;
}

li .hov{
font-weight: bold;
color: rgba(31, 32, 65, 0.75);



}
 .buttons{
	border: 2px solid #BC9CFF;
	border-radius: 50px;
	padding: 9px 20px;
	text-transform: uppercase;
}

#enter{
	font-weight: bold;
	line-height: 15px;
	color: #BC9CFF;
	font-size: 12px;

}

#login{
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	color:white;
	line-height: 15px;
	font-weight: bold;
	font-size: 12px;
}

.mainscreen{

z-index: -1
}
.card1{
	display:grid;
	grid-template-areas:
		"text1 text1 "
		"arrival leave"
		"guests guests"
		"buttons buttons";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 0.3fr;
		grid-column-gap: 20px;
		padding:25px;
	position: relative;
	width: 380px;
	height: 374px;
	left: 187px;
	top: 201px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}


.pp{
	grid-area:text1;
	justify-self: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #1F2041;
	}


.arrival{
	grid-area:arrival;
	justify-self: center;
	
	}
	
	.textarrival, .textleave, .textguests{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #1F2041;
	}
	

	.textboxarrival, .textboxleave{
		/* position: absolute;
		width: 150px;
		height: 44px;
		top: 20.44px; */
		width: 100%;
		height:50%;
		border: 1px solid rgba(31, 32, 65, 0.25);
		box-sizing: border-box;
		border-radius: 4px
		}

::-webkit-input-placeholder {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 18px;
	color: rgba(31, 32, 65, 0.75);

}
.expand{
position: absolute;
right: 11px;
top: 17px;
}

.leave{
	grid-area:leave;
	justify-self: center;
}

.guests{
	grid-area:guests;
	
}

.textboxguests{
	/* position: absolute; */
   width: 100%;;
   height: 50%;
   /* left: 0px;
   top: 20px;  */
   border: 1px solid rgba(31, 32, 65, 0.25);
   box-sizing: border-box;
   border-radius: 4px;
   }


   #choose{
	grid-area:buttons;
	justify-self: center;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	color:white;
	line-height: 15px;
	font-weight: bold;
	font-size: 12px;
	width: 80%;
	
	text-align: center;
	font-family: Montserrat;
	
/* position: absolute;
top:300px;
left:30px; */
font-style: normal;

}


.choosenumber{



}


.textt {
position: relative;
z-index: 1;
width: 297px;
height: 48px;
top:730px;
left:990px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
text-align: right;
color: rgba(31, 32, 65, 0.75);

}


.rectangle3{
position: relative;
height: 372px;
top: 770px;
background: #FFFFFF;
box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1)
}

.about{
position: absolute;
width: 260px;
height: 132px;
left: 140px;
top: 100px;
}

.circle3{
position: absolute;
left: 0px;
top: 0px;
}


.toxin2{
position: absolute;
width: 53.19px;
height: 12.95px;
left: 52.5px;
top: 13.33px;
}

.text{
position: absolute;
height: 72px;
top: 60px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: rgba(31, 32, 65, 0.75);
}

.nav{
position: absolute;
width: 143px;
height: 168px;
left: 440px;
top: 104px;
}

.nav ul, .aboutUs ul, .support ul , .subcribe ul{
top: 0px;
position: absolute;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: rgba(31, 32, 65, 0.5);

}

.nav  li, .aboutUs li, .support li, .subcribe li{
margin-bottom: 20px;
}
ul li .hov2{
font-weight: bold;
font-size: 12px;
line-height: 15px;
text-transform: uppercase;
color: #1F2041;
}

.aboutUs{
position: absolute;
width: 108px;
height: 168px;
left: 640px;
top: 104px;
}

.support{

position: absolute;
width: 149px;
height: 130px;
left: 840px;
top: 104px;
}

.subcribe{

position: absolute;
width: 260px;
height: 84px;
left: 1040px;
top: 104px;

}

.email{
position: absolute;
width: 260px;
height: 44px;
left: 1040px;
top: 208px;
border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 4px;
}

.textEmail{
position: absolute;
left: 15px;
top: 10px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: rgba(31, 32, 65, 0.25);
}

.arrow{
position: absolute;
left: 222px;
top: 12px;
}

.footer{
position: absolute;
width: 100%;
height: 70px;
left: 0px;
top: 373px;
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.copy{
position: absolute;
left: 140px;
top: 26px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: rgba(31, 32, 65, 0.75);
}

.logs{
position: absolute;
left: 1188px;
top: 23px;
}

.ss img {
margin-right: 20px;
}

.header_burger{
	display:none;
}



@media screen and (max-width: 1350px) {
	.header_burger{
		display:block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
		float: right;
		margin: 25px 60px;


	}
	.header_burger span{
		position: absolute;
		background-color: #BC9CFF ;
		left:0;
		width: 100%;
		height: 2px;
		top:9px;
		transition: all 0.3s ease 0s;
	}


	.header_burger:before, .header_burger:after{
		content:'';
		background-color:#BC9CFF ;
		position: absolute;
		width: 100%;
		height: 2px; 
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header_burger:before{
		top:0;
	}
	 .header_burger:after{
	 	bottom: 0;
	 }

	 .header_burger.active:before{
	 	transform:rotate(45deg);
	 	top:9px;

	 }
	 .header_burger.active:after{
	 	transform:rotate(-45deg);
	 	bottom:9px;

	 }
	 .header_burger.active span{
	 	transform:scale(0);
	 }

	 .menu{
	 	position: fixed;
	 	top:-100%;
	 	left:0;
	 	width: 100%;
	 	height: 100%;
	 	background: linear-gradient(to top left, #33cccc 0%, #ff99cc 100%);

	 	z-index: 1;
	 	padding:50px 0px 0px 0;
	 	text-align: center;
	 	overflow: auto;
	 
	 }

	 #enter{
	 	color:white;
	 }
	 .buttons{
	 border: 2px solid white;
	 }
	 #login{
	 	background: none;
	 }

	 .menu.active{
	 	top:0;
	 	transition: all 0.3s ease 0s;
	 }
	 .menu li{
	 	display: block;
	 	margin: 30px 30px;
	 }

	 body.lock{
	 	overflow:hidden;

	 }

	 body{
	 	overflow-x:hidden; 
		
		 
		
	 }
	 .toxin{
		z-index:1;
	 }



	.card1{ 
		display:grid;
		left:0;
	
		margin-left: auto;
		margin-right: auto;

		width: 250px;
		height: 400px;
		grid-template-areas:
		"text1 text1"
		"arrival arrival"
		"leave leave"
		"guests guests"
		"buttons buttons";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 0.3fr;
		padding:15px;	
		
		
		
       
	}
	.guests{
		justify-self: center;}

	.pp{

		font-size: 1.25em;

	 }
	.textt{
		 display: none;
	} 
}


.ui-datepicker .selected-start:not(.selected-end) a,
.ui-datepicker .selected-end:not(.selected-start) a {
  background: #F3FDD5;
}

.ui-datepicker .selected.first-of-month:not(.selected-start) a {
  border-left: 2px dotted #D4E7F6;
  padding-left: 1px;
}

.ui-datepicker .selected.last-of-month:not(.selected-end) a {
  border-right: 2px dotted #D4E7F6;
  padding-right: 1px;
}
