



html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
img, ins, kbd, q, s, samp,
small, strike, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
body {
line-height: 1;
min-height: 1300px;
background: url(img/image.png), rgba(255,255,255,0.4);
background-position: center center;
background-repeat: no-repeat; 
background-size: cover;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}


html{
background: #F4F4F6;

}



.rectangle1{
	width: 100%;
	position: fixed;
	height: 70px;
	left: 0px;
	top: 0px;
	z-index: 3;
}

.rectangle1:before{
	content:'';
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	z-index: 2;
}


.circle2{
position: absolute;
margin:15px 10%;
/* left: 140px;
top: 15px; */
z-index: 3;

}

.left2{
position: absolute;
left: 9.41px;
top: 15.29px;



}

.right2{

position: absolute;
left: 21.47px;
top: 15.29px;
}

.toxin{
position: absolute;
width: 53.19px;
height: 12.95px;
margin:28px 14%;
/* left: 192.5px;
top: 28.33px; */
z-index: 3;
}

.menu{
position: absolute;
left: 530px;
top: 26px;
z-index: 2;

}
.menu li{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-decoration: none;
display: inline; /*чтобы выстроить список по горизонтали*/
margin-right: 20px;
color: rgba(31, 32, 65, 0.5);
}

.menu a{
	text-decoration: none;
}

li .hov{
font-weight: bold;
color: rgba(31, 32, 65, 0.75);



}
 .buttons{
	border: 2px solid #BC9CFF;
	border-radius: 50px;
	padding: 9px 20px;
	text-transform: uppercase;
}

#enter{
	font-weight: bold;
	line-height: 15px;
	color: #BC9CFF;
	font-size: 12px;

}

#login1{
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	color:white;
	line-height: 15px;
	font-weight: bold;
	font-size: 12px;
}
.ooo{
background: rgba(255,255,255,0.6);
padding:40px;
 border-radius: 5%; 

}
.row{
	padding-top: 200px;

}


